html { overflow: hidden; }
body { overflow: hidden; font-family: 'Calibri'; min-width: 400px; background-color: #141414; color: #2b2b2b; margin: 0; }

header {}
header>header { background-color: #1F1F1F; width: 100%; }
header>header>img { margin: 2px auto; display: block;}

.region-selection { padding: 2px 0 0; text-align: center; }
.region-selection>a { color: #4d4d4d; text-decoration: none; }
.region-selection>a.selected { color: white; }
.region-selection>a:hover { text-decoration: none; color: white; }

/* Summoner Selection */
.summoner-selection { }
.summoner-selection>select,
.summoner-selection>input { background-color: #333; border: 1px solid black; color: #c4b14e; }

.summoner-selection>select:hover,
.summoner-selection>input:hover { border: 1px solid #c4b14e; }

.summoner-selection>input[type=text] { margin: 5px 0 5px 2px; text-indent: 3px; width: 162px; }
.summoner-selection>input::-webkit-input-placeholder { color: #666; }
.summoner-selection>input:-moz-placeholder { color: #666; }
.summoner-selection>input::-moz-placeholder { color: #666; }
.summoner-selection>input:-ms-input-placeholder { color: #666; }

.summoner-selection>select { width: 190px; margin: 5px; }
.summoner-selection>input[type=submit] { margin: 0; }

/* Map Information */
.map-information { margin: 0 5px 4px; background-color: #292929; color: #808080; height: 20px; }
.map-name, .game-type, .game-mode { float: left; text-align: center; }
.map-name { width: 195px; }
.game-type { width: 100px; }
.game-mode { width: 95px; }

/* Display Controls */
.display-controls { padding: 0 5px; }

.display-controls>section { display: inline-block; background-color: #1c1c1c; margin-right: 10px; }
.display-controls>section>button { width: 92px; margin: 0; }
.display-controls>section>button.detailed { }

.display-controls button { margin-bottom: 0; display: inline-block; font-size: 12px; text-transform: uppercase; padding: 3px 0 4px; text-align: center; color: #4d4d4d; background-color: #1c1c1c; border: 0; }
.display-controls button.selected, 
.display-controls button:hover { color: white; }
.display-controls>button { width: 92px; }

/* Content */
.content { position: relative; color: #808080 }
.content>ul { width: 190px; display: inline-block; margin: 0 4px; padding: 0; }
.content>ul>li { margin-top: 5px; list-style: none; background-color: #1F1F1F; border: 1px solid black; }
.content>ul>li header { background-color: #333333; padding: 0 3px; font-size: 14px; }

.summoner-name { display: inline-block; }
.rank { display: inline-block; color: white; float: right; }

.summoner-stats { height: 18px; font-size: 14px; padding: 0 3px; }
.level, .wins, .losses, .ranked-win-loss-ratio { display: inline-block; }
.wins { margin: 0 5px; }

.champion-stats { font-size: 12px; }

.champion-stats>img { width: 39px; height: 39px; float: left; }

.champion-stats>header { height: 15px; }
.champion-stats>header>.champion-name { color: #c4b14e; display: inline-block; color: ;}
.champion-stats>header>button { float: right; display: inline-block; font-size: 9px; text-transform: uppercase; padding: 1px 3px 0; color: #999; background: none; border-width: 1px; } 

.champion-stats>section { height: 27px; padding: 0 3px; }
.champion-stats .played-rank, .champion-stats .ranked-win-loss-ratio, .champion-stats .kda-ratio,
.champion-stats .creep-score { display: inline-block; }

.champion-stats .played-rank { }
.champion-stats .ranked-win-loss-ratio { float: right; }
.champion-stats .kda-ratio { }
.champion-stats .creep-score { float: right; }

.blue-team .summoner-name { color: #6490d7;}
.blue-team .champion-stats>img { border: 1px solid #6490d7; }

.purple-team .summoner-name { color: #9169d7; }
.purple-team .champion-stats>img { border: 1px solid #9169d7; }

footer { margin-top: 5px; font-size: 14px; background-color: #292929; color: #808080; text-align: center; padding: 4px 0 6px; }
.hidden {  }