<!-- This is a partial view -->
<li>
	<header>
		<div class='summoner-name' title='Summoner Name'></div>
		<div class='rank' title='Rank'></div>
	</header>
	<section class='summoner-stats'>
		<div class='level' title='Level'></div>
		<div class='wins normal' title='Normal Wins'></div>
		<section class='ranked-win-loss-ratio' title='Ranked Win Loss Ratio'>
			<div class='wins ranked' title='Ranked Wins'></div>/
			<div class='losses ranked' title='Ranked Losses'></div>
		</section>
	</section>
	<section class='champion-stats'>
		<div class='icon-container'>
			<div class='icon-overlay'></div>
			<img class='icon' />
		</div>
		<header>
			<div class='champion-name' title='Champion'></div>
			<button>Options</button>
		</header>
		<section>
			<div class='played-rank' title='Most Played Ranking'></div>
			<div class='ranked-win-loss-ratio' title='Champion Ranked Win Loss Ratio'>
				<div class='wins ranked' title='Champion Ranked Wins'></div>/
				<div class='losses ranked' title='Champion Ranked Losses'></div>
			</div>
			<br />
			<div class='kda-ratio' title='KDA Ratio'></div>
			<div class='creep-score' title='Creep Score'></div>
		</section>
	</section>
</li>