<!-- This is a partial view -->
<li>
	<header>
		<div class='summoner-name'></div>
		<div class='rank'></div>
	</header>
	<section class='summoner-stats'>
		<div class='level'></div>
		<div class='wins normal'></div>
		<section class='ranked-win-loss-ratio'>
			<div class='wins ranked'></div>/
			<div class='losses ranked'></div>
		</section>
	</section>
	<section class='champion-stats'>
		<img class='icon' />
		<header>
			<div class='champion-name'></div>
			<button>Options</button>
		</header>
		<section>
			<div class='played-rank'></div>
			<div class='ranked-win-loss-ratio'></div>
			<div class='kda-ratio'></div>
			<div class='creep-score'></div>
		</section>
	</section>
</li>